doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DAL inspector
    link(rel='stylesheet' href='css/styles.css')
    script(src='js/jquery-3.6.0.min.js')
    script(defer src='js/alpine-3.10.3.js')
    script(src='js/main.js')
  body.text-color.background-color.font-normal(x-data='appData' )
    .flex.space-between.align-bottom
      div
        h1.main-title.text-deep DAL inspector
        p.font-large inspect / debug DAL expression
      .flex.align-center.gap-20.controls.text-dark
        .flex.align-center.gap-10
          span Remote:
          .instance-monitors
            template(x-for="[name, active] in instances" :key='name')
              label.switch
                input(type="checkbox" hidden=true x-model="active")
                span.custom-checkbox
                span(x-text="name")

    .work-bench
      button Try It!
      .work-bench-try
        textarea.code-editor(x-data='codeEditor()' placeholder='DAL expression'
          @code-update='dalResult = await execute("Try", $event.detail); active=activated()')
        .tab(x-data='tab()' x-effect='switchTab(active)')
          .tab-headers
            .tab-header(target='root' :class="active=='root'? 'active': null") Root
            .tab-header(target='error' :class="active=='error'? 'active': null") Error
            .tab-header(target='result' :class="active=='result'? 'active': null") Result
            .tab-header(target='inspect') Inspect
          .tab-contents
            .tab-content(target='root' placeholder='Root' :class="active=='root'? 'active': null")
              pre(x-text='dalResult.root')
            .tab-content(target='error' placeholder='Error' :class="active=='error'? 'active': null")
              pre(x-text='dalResult.error')
            .tab-content(target='result' placeholder='Result' :class="active=='result'? 'active': null")
              pre(x-text='dalResult.result')
            .tab-content(target='inspect' placeholder='Inspect')
              pre(x-text='dalResult.inspect')

//-         .buttons
//-           button.resume(id='resume') Resume
//-
//-     .code-container
//-       textarea.code-editing(id='code' placeholder='DAL expression')
//-
//-     .result-container
//-       .tabs
//-         .tab(data-tab='tab-root') Root
//-         .tab(data-tab='tab-error') Error
//-         .tab(data-tab='tab-result') Result
//-         .tab(data-tab='tab-inspect') Inspect
//-       .tab-content(id='tab-root')
//-         pre.result(id='root' placeholder='Root')
//-       .tab-content(id='tab-error')
//-         pre.result(id='error' placeholder='Error')
//-       .tab-content(id='tab-result')
//-         pre.result(id='result' placeholder='Result')
//-       .tab-content(id='tab-inspect')
//-         pre.inspect(id='inspect' placeholder='Inspect')
