doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DAL inspector
    link(rel='stylesheet' href='css/styles.css')
    script(src='js/jquery-3.6.0.min.js')
    script(defer src='js/alpine-3.10.3.js')
    script(src='js/main.js')
  body.text-color.background-color.font-normal(x-data='appData' )
    .flex.space-between.align-bottom
      div
        h1.main-title.text-deep DAL inspector
        p.font-large inspect / debug DAL expression
      .flex.align-center.gap-20.controls.text-dark
        .flex.align-center.gap-10
          span Remote:
          .instance-monitors
            template(x-for="[name, active] in instanceNames" :key='name')
              label.switch
                input(type="checkbox" hidden=true x-model="active")
                span.custom-checkbox
                span(x-text="name")

    .work-benchs
      .tab(x-data='tab()' x-init='fun()')
        .tab-headers
          .tab-header.active(target='try') Try It!
          .tab-header(target='try2') Try2 It!
        .tab-contents
          .tab-content.active(target='try')
            .work-bench-try(x-data='{dalIns: dalInstance()}')
              textarea.code-editor(x-data='codeEditor()' placeholder='DAL expression'
                @code-update='updateResult(dalIns, await execute("Try", $event.detail))')
              .tab(x-data='tab()' x-effect='switchTab(dalIns.active)')
                .tab-headers
                  .tab-header(target='root') Root
                  .tab-header(target='error') Error
                  .tab-header(target='result') Result
                  .tab-header(target='inspect') Inspect
                .tab-contents
                  .tab-content(target='root')
                    pre(x-text='dalIns.result.root')
                  .tab-content(target='error')
                    pre(x-text='dalIns.result.error')
                  .tab-content(target='result')
                    pre(x-text='dalIns.result.result')
                  .tab-content(target='inspect')
                    pre(x-text='dalIns.result.inspect')
          .tab-content(target='try2')
            .work-bench-try2(x-data='{dalIns: dalInstance()}')
              textarea.code-editor(x-data='codeEditor()' placeholder='DAL expression'
                @code-update='updateResult(dalIns, await execute("Try", $event.detail))')
              .tab(x-data='tab()' x-effect='switchTab(dalIns.active)')
                .tab-headers
                  .tab-header(target='root') Root
                  .tab-header(target='error') Error
                  .tab-header(target='result') Result
                  .tab-header(target='inspect') Inspect
                .tab-contents
                  .tab-content(target='root')
                    pre(x-text='dalIns.result.root')
                  .tab-content(target='error')
                    pre(x-text='dalIns.result.error')
                  .tab-content(target='result')
                    pre(x-text='dalIns.result.result')
                  .tab-content(target='inspect')
                    pre(x-text='dalIns.result.inspect')

//-         .buttons
//-           button.resume(id='resume') Resume
