doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DAL inspector
    link(rel='stylesheet' href='css/styles.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='js/main.js')
  body
    .title-container
      h1 DAL inspector
      p Welcome to DAL inspector

    .code-container
      textarea(id='code' placeholder='DAL expression')
      div(id='status')
      button(id='run') Run

    .result-container
      pre
