doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DAL inspector
    link(rel='stylesheet' href='css/styles.css')
    script(defer src='js/alpine-3.10.3.js')
    script(src='js/main.js')
  body.text-color.background-color.font-normal(x-data='appData' )
    .flex.space-between.align-bottom
      div
        h1.main-title.text-deep DAL inspector
        p.font-large inspect / debug DAL expression
      .flex.align-center.gap-20.controls.text-dark
        .flex.align-center.gap-10
          span Remote:
          .instance-monitors
            template(x-for="[name, active] in dalInstanceNames" :key='name')
              label.switch
                input(type="checkbox" hidden=true x-model="active")
                span.custom-checkbox
                span(x-text="name")

    .work-benches
      .tab(x-data='tab()' x-init='switchTab("Try It!")')
        .tab-headers.work-bench-headers
          template(x-for="dalIns in dalInstances" :key='dalIns.name')
            .tab-header(:target='dalIns.name' x-text='dalIns.name')
        .tab-contents
          template(x-for="dalIns in dalInstances" :key='dalIns.name')
            .tab-content(:target='dalIns.name')
              textarea.code-editor(x-data='codeEditor()' placeholder='DAL expression' :name='dalIns.name'
                //TODO refactor
                @code-update='updateResult(dalIns, await execute(dalIns.name, dalIns.code))' x-model='dalIns.code')
              .tab(x-data='tab()' x-effect='switchTab(dalIns.active)')
                .tab-headers
                  template(x-for="outputTab in outputTabs" :key='outputTab')
                    .tab-header(:target='outputTab' x-text='outputTab.charAt(0).toUpperCase() + outputTab.slice(1);')
                .tab-contents
                  template(x-for="outputTab in outputTabs" :key='outputTab')
                    .tab-content(:target='outputTab')
                      pre(x-text='dalIns.result[outputTab]')

//-         .buttons
//-           button.resume(id='resume') Resume
