doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title DAL inspector
    link(rel='stylesheet' href='css/styles.css')
    script(defer src='js/alpine-3.10.3.js')
    script(src='js/main.js')
  body.text-color.background-color.font-normal(x-data='appData' )
    .flex.space-between.align-bottom
      div
        h1.main-title.text-deep DAL inspector
        p.font-large inspect / debug DAL expression
      .flex.align-center.gap-20.text-dark.margin-bottom.margin-right
        button.btn-sm-long.release.release-all(@click='releaseAll()')
        .flex.align-center.gap-10
          span Remote:
          .flex.align-center.gap-10.instance-monitors
            template(x-for="item in dalInstanceNames" :key='item.name')
              label.switch
                input(type="checkbox" hidden=true x-model="item.active" @change="exchange(item.name)")
                span.custom-checkbox
                span(x-text="item.name")

    .work-benches
      .tab(x-data='tab()' x-init='switchTab("Try It!")' x-effect='switchTab(activeInstance)')
        .tab-headers.work-bench-headers
          template(x-for="dalIns in dalInstances" :key='dalIns.name')
            .tab-header.work-bench-header.flex.align-center(:target='dalIns.name')
              .session-state.margin-right(:class='{"connected": dalIns.connected}' x-show='dalIns.name != "Try It!"')
              span(x-text='dalIns.name')
        .tab-contents.work-bench-contents
          template(x-for="dalIns in dalInstances" :key='dalIns.name')
            .tab-content(:target='dalIns.name')
              textarea.code-editor(x-data='codeEditor()' placeholder='DAL expression' :name='dalIns.name'
                @code-update='updateResult(dalIns)' x-model='dalIns.code' :class='`code-editor-${dalIns.active}`')
              .tab.code-results(x-data='tab()' x-effect='switchTab(dalIns.active)')
                .tab-headers
                  .controls
                    button.btn-sm.release(@click='release(dalIns.name)')
                  template(x-for="outputTab in outputTabs" :key='outputTab')
                    .tab-header(:target='outputTab' x-text='outputTab.charAt(0).toUpperCase() + outputTab.slice(1);')
                .tab-contents
                  template(x-for="outputTab in outputTabs" :key='outputTab')
                    .tab-content(:target='outputTab')
                      pre(x-text='dalIns.result[outputTab]')
